@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto:wght@100;400;700&display=swap');

body {
font-family: 'Roboto', sans-serif;
font-size: 400;
background-color: #ecf8f8;
color: rgba(0,0,0,0.8);
}

h1 {
font-family: 'Montserrat', sans-serif;
letter-spacing: 1px;
}

h2 {
  color: #4c5c68;
}

a {
  text-decoration: none;
}

#current_job {
  color: #46494c;
  font-size: 18px;
  line-height: 1px;
}

#full_name {
  color: #e56b6f;
  line-height: 5px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding: 20px;
}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 8px;
    margin: 20px 50px;
    text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.btn-pink {
  background-color: #e56b6f;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-pink:hover {
  opacity: 0.8;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(210, 210, 210);
}
.list-inline i:hover {
  color: #e56b6f;
}

.bucketlist {
  float: left;
  height: 150px;
  opacity: 0.8;
  border-radius: 5px;
  position: relative;
}
.bucketlist:hover {
  opacity: 1;
}

p.legend {
  font-weight: 700;
  color: white;
  position: absolute;
  margin-top: 100px;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}













